/* default */
.caption-window {
    pointer-events: none !important;
    background: none !important;
    width: fit-content !important;
    bottom: 64px !important;
    margin: 0 0 !important;
    left: 50% !important;
    transform: translateX(-50%);
}

.ytp-caption-segment {
    background: none !important;
    font-family: "Inter", sans-serif !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    opacity: 100%;
    color: #fff !important;
    text-shadow: 0px 0px 1px #000,
                 0px 0px 1px #000, 
                 0px 0px 1px #000, 
                 0px 0px 1px #000, 
                 0px 0px 1px #000, 
                 0px 0px 1px #000;
}

.caption-visual-line {
    width: fit-content!important;

}

.captions-text {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
}

/* miniplayer */
.ytp-player-minimized .caption-window {
    width: 100% !important;
    display: flex !important;
    align-items: center!important;
    justify-content: center !important;
    bottom: 12px !important;

}

.ytp-player-minimized .ytp-caption-segment {
    width: 100%!important;
    background: none !important;
    font-family: "inter","YouTube Noto",Roboto,Arial,Helvetica,sans-serif !important;
}

/* shorts */
#shorts-player .caption-window {
    width: 100% !important;
    height: 46px !important;
    display: flex !important;
    align-items: center!important;
    justify-content: center !important;
/*         top: 64px !important; */
    margin: 0 !important;
}

#shorts-player .ytp-caption-segment {
    font-size: 20px !important;
}

#shorts-player .captions-text {
    align-items: center!important;
    justify-content: center !important;
}

/* when you hover a thumbnail */
.ytp-small-mode:not(.ytp-player-minimized) .caption-window {
    bottom: 0px !important;
    height: 34px !important;
    justify-content: flex-start !important;
    align-items: flex-start!important;
    margin-left: 10px !important;
    width: 100% !important;
    display: flex !important;
}

.ytp-small-mode:not(.ytp-player-minimized) .captions-text {
    justify-content: flex-start !important;
    align-items: flex-start!important;
}

.ytp-small-mode:not(.ytp-player-minimized) .ytp-caption-segment {
    letter-spacing: inherit !important;
}

/* text shadow for minimized and hover player */
.ytp-small-mode .ytp-caption-segment,
.ytp-player-minimized .ytp-caption-segment {
    font-size: /*24px*/ 14px !important;
    font-weight: 500 !important;
    opacity: 100%;
    color: #fff !important;

    /* use text shadow if text-stroke looks like shit */ 
    /* text-shadow: 0px 0px 1px #000, 
                    0px 0px .75px #000, 
                    0px 0px .75px #000, 
                    0px 0px .75px #000, 
                    0px 0px 1px #000, 
                    0px 0px 1px #000; */
    -webkit-text-stroke: .0001px #000000a8;

    letter-spacing: .75px !important;
}
